version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      # utilisateur, mot de passe et base
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    ports:
      # port PostgreSQL exposé vers l'hôte
      - "5432:5432"

  api:
    # construire l'image à partir du Dockerfile dans ./api
    build: ./api
    ports:
      # exposer le port 8000 du conteneur vers l'hôte
      - "8000:8000"
    depends_on:
      # l’API dépend de la base de données
      - db
